.container-content {
  .footer {
    padding: 20px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $titleBorder;
    margin-top: 50px;
    a {
      text-decoration: none;
      color: $textColorLight;
      font-size: 14px;
      margin: 0;
      &:last-of-type {
        text-align: right;
      }
    }
  }
}
