.container-menu {
  width: 300px;
  &.show {
    animation-duration: 1.5s;
    animation-name: show;
    display: block;
    padding: 0;
    background: $btnColorText;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    .menu {
      .menu-header {
        padding: 20px 25px 0px 25px;
      }
      .menu-list {
        &__item {
          &.active {
            display: none;
          }
        }
      }
    }
  }
  &.hide {
    animation-duration: 1.5s;
    animation-name: hide;
  }

  .menu {
    .menu-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 20px 0 20px;
      &__item {
        &.burgerClose {
          display: none;
          &.show {
            display: block;
          }
        }
        margin: 0;
      }
    }
    .menu-list {
      padding: 0px;
      padding: 50px 20px 0 20px;
      list-style-type: none;
      &__item {
        padding-bottom: 30px;
        &:last-of-type {
          padding-bottom: 0;
        }
        a {
          text-decoration: none;
          color: $textColor;
          &:hover {
            text-decoration: underline;
          }
        }
        &.active {
          a {
            color: $textColorLight;
            &::before {
              content: '';
              border: 2px solid $menuActive;
              height: 28px;
              border-radius: 2px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .menu-footer {
      padding: 240px 20px 0 20px;
      &__icons {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        a {
          margin: 0;
        }
      }
      &__email {
        padding-top: 16px;
        text-decoration: none;
        font-family: 'Medium';
        color: $textColor;
        display: block;
      }
      &__phone {
        display: block;
        padding-top: 15px;
        text-decoration: none;
        color: $textColor;
        font-family: 'Bold';
        font-size: 24px;
        &:hover {
          color: blue;
        }
      }
      &__lang {
        padding-top: 40px;
        a {
          text-decoration: none;
          color: $textColor;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@keyframes show {
  from {
    position: absolute;
    top: 0;
    left: -300px;
  }

  to {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@keyframes hide {
  from {
    position: absolute;
    top: 0;
    left: 0px;
  }

  to {
    position: absolute;
    top: 0;
    left: -300px;
  }
}
