.container-content {
  .overlay-modal {
    .modal {
      position: fixed;
      right: 0;
      top: 0;
      width: 440px;
      background: $btnColorText;
      box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
        16px 0px 52px rgba(14, 24, 80, 0.2);
      padding: 40px;
      z-index: 1000;
      &.hide {
        display: none;
      }
      .form {
        background: $btnColorText;
        input {
          width: 100%;
          padding: 18px 16px;
          margin-top: 15px;
          background: $btnColorText;
          border: 1px solid $borderCard;
          border-radius: 8px;
        }
        .message {
          height: 120px;
        }
      }

      &__close {
        position: absolute;
        top: 35px;
        left: -50px;
        font-size: 40px;
        cursor: pointer;
      }

      &__title {
        color: $textColor;
        font-size: 24px;
        font-family: 'Bold';
        text-align: start;
      }

      &__desc {
        padding-top: 20px;
        padding-bottom: 30px;
        span {
          font-family: 'Medium';
          color: $btnColor;
        }
      }
      &__button {
        border: 1px solid $btnColor;
        border-radius: 16px;
        color: $btnColorText;
        background: $btnColor;
        display: flex;
        align-items: center;
        font-family: 'Medium';
        font-size: 12px;
        text-transform: uppercase;
        margin-right: 0;
      }
    }
  }
}
