@import './fonts';
@import './variables';

@import './promo';
@import './menu';
@import './subtitle';
@import './content';
@import './navigation';
@import './header';
@import './main';
@import './repair';
@import './price';
@import './footer';
@import './modal';
@import './overlay';
@import './media';

* {
  font-family: 'Regular';
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  color: $textColor;
}
